body {
	background-color: black;

}

.main {
	background-image: url('../images/streetbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

.ryu {
	width: 659px;
	height: 494px;
}

<<<<<<< HEAD
.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
=======
.ryu-action {
>>>>>>> master
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');

}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
	
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
	
}
<<<<<<< HEAD

=======
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
	
}
>>>>>>> master
.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}
.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}
.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	top: 167px;
	left: 520px;
	z-index: 10;
}
.logo {
    background-image: url('../images/sflogo.png');
    background-repeat: no-repeat;
    width: 700px;
    height: 349px;
    display: block;
    float: left;
    position: absolute;
    z-index: 10;
    top: 167px;
    left: 500px;
}
.instructions {
    background-color: black;
    opacity: 0.8;
    color: white;
    width: 500px;
    height: 280px;
    padding-left: 1em;
    padding-top: 0.1em;
    display: block;
    float: left;
    position: absolute;
    z-index: 10;
    top: 220px;
    left: 550px;
    font-family: 'Walter Turncoat', sans-serif;
    font-size: 2em;
    border-radius: 20px;
    line-height: 1em;
}
.title-line {
  color: red;
  font-weight: bold;
}